pipeline/copytoSQLwithVariables.json
{
	"name": "copytoSQLwithVariables",
	"properties": {
		"activities": [
			{
				"name": "Copy dataSql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "pipline_exedate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "pipleline_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Emp_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Emp_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Salary",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Salary",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "emp_data_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DES_AzureSqlTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "pipleline_name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline_Name",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pipline_exedate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline_exedata",
					"value": {
						"value": "@pipeline().TriggerTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy dataSql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[AUDIT_PIPLELINES_SP]",
					"storedProcedureParameters": {
						"P_ErrorMsg": {
							"value": "Null",
							"type": "String"
						},
						"P_Exe_Date": {
							"value": {
								"value": "@variables('pipeline_exedata')",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_Row_Count": {
							"value": {
								"value": "@activity('Copy dataSql').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"P_Status": {
							"value": {
								"value": "@activity('Copy dataSql').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@variables('pipeline_Name')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaselinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure_Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy dataSql",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[AUDIT_PIPLELINES_SP]",
					"storedProcedureParameters": {
						"P_ErrorMsg": {
							"value": {
								"value": "@activity('Copy dataSql').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_Exe_Date": {
							"value": {
								"value": "@variables('pipeline_exedata')",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_Row_Count": {
							"value": {
								"value": "@activity('Copy dataSql').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"P_Status": {
							"value": {
								"value": "@activity('Copy dataSql').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@variables('pipeline_Name')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaselinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"pipeline_Name": {
				"type": "String"
			},
			"pipeline_exedata": {
				"type": "String"
			},
			"status_success": {
				"type": "String"
			},
			"status_failed": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-11T16:44:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}